# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea
.vscode
*.swp
*.bak
*~
.DS_Store

# Logs
*.log

# OS
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Documentation
*.md
!README.md

# Scripts
*.bat
*.sh
